<div class="container movie">
  <div class="row">
  	<div class="col-lg-12">
    	<h1 class="movie__title">{{model.movie.title}}</h1>
    </div>
  </div>
  <div class="row movie__section">
    <div class="col-lg-4">
    <div class="poster-movie">
    	<img src="{{model.posterUrl}}" alt="">
    </div>
    	
    </div>
  </div>
</div>
<div class="backdrop-container">
  {{backdrop-image model=model}}
</div>
